<!DOCTYPE html>
<html>
 {% include 'header' %}
 <body>
  {% include 'menu' %}
  {% include 'nav' %}
  {% include 'heading' %}
  <div class="content">
   {% for post in loop_content["posts"] %}
    <h2>{{ post.title }}</h2>
    <p>
     {{ post.description}}<br/>
     <a href="{{ site.baseurl }}{{ post.url }}">
      {{ site.readMeText }}
     </a>
    </p>
   {% endfor %}
  </div>
  {% include 'breaker' %}
  {% include 'scripts' %}
 </body>
</html>